-- MySQL dump 10.13  Distrib 8.4.8, for Linux (x86_64)
--
-- Host: localhost    Database: data-source
-- ------------------------------------------------------
-- Server version	8.4.8

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `emprestimo`
--

DROP TABLE IF EXISTS `emprestimo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `emprestimo` (
  `status` tinyint NOT NULL,
  `data_devolucao` datetime(6) DEFAULT NULL,
  `data_emprestimo` datetime(6) NOT NULL,
  `data_vencimento` datetime(6) DEFAULT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `livro_id` bigint NOT NULL,
  `usuario_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKlraqo5mkov260qr5h3es93sgr` (`livro_id`),
  KEY `FKn0k2927f8w348cfiahkff1rhk` (`usuario_id`),
  CONSTRAINT `FKlraqo5mkov260qr5h3es93sgr` FOREIGN KEY (`livro_id`) REFERENCES `livro` (`id`),
  CONSTRAINT `FKn0k2927f8w348cfiahkff1rhk` FOREIGN KEY (`usuario_id`) REFERENCES `usuario` (`id`),
  CONSTRAINT `emprestimo_chk_1` CHECK ((`status` between 0 and 3))
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `emprestimo`
--

LOCK TABLES `emprestimo` WRITE;
/*!40000 ALTER TABLE `emprestimo` DISABLE KEYS */;
INSERT INTO `emprestimo` VALUES (0,NULL,'2026-03-22 09:05:58.285000','2026-03-26 03:00:00.000000',1,2,1),(0,NULL,'2026-03-22 09:06:21.865000','2026-03-24 09:06:21.865000',2,4,1),(1,NULL,'2026-03-22 09:06:51.730000','2026-03-22 09:06:51.730000',4,8,2),(2,'2026-03-22 11:43:51.221448','2026-03-22 09:07:06.078000','2026-03-28 03:00:00.000000',5,3,6),(0,NULL,'2026-03-22 15:26:36.558000','2026-04-11 15:26:36.558000',6,16,1);
/*!40000 ALTER TABLE `emprestimo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `livro`
--

DROP TABLE IF EXISTS `livro`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `livro` (
  `data_publicacao` datetime(6) NOT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `autor` varchar(255) NOT NULL,
  `isbn` varchar(255) NOT NULL,
  `titulo` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `livro`
--

LOCK TABLES `livro` WRITE;
/*!40000 ALTER TABLE `livro` DISABLE KEYS */;
/*!40000 ALTER TABLE `livro` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `livro_categorias`
--

DROP TABLE IF EXISTS `livro_categorias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `livro_categorias` (
  `livro_id` bigint NOT NULL,
  `categorias` varchar(255) DEFAULT NULL,
  KEY `FKmrmdl5o6wlaooh0quhlajqhwq` (`livro_id`),
  CONSTRAINT `FKmrmdl5o6wlaooh0quhlajqhwq` FOREIGN KEY (`livro_id`) REFERENCES `livro` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `livro_categorias`
--

LOCK TABLES `livro_categorias` WRITE;
/*!40000 ALTER TABLE `livro_categorias` DISABLE KEYS */;
INSERT INTO `livro_categorias` VALUES (2,'Computers'),(3,'Computers'),(4,'Computers'),(5,'Computers'),(6,'Computers'),(8,'Fiction'),(9,'Literary Criticism'),(10,'Business & Economics'),(11,'Fiction'),(13,'Juvenile Fiction'),(15,'Drama'),(16,'Fiction');
/*!40000 ALTER TABLE `livro_categorias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario` (
  `data_cadastro` datetime(6) NOT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `email` varchar(255) NOT NULL,
  `nome` varchar(255) NOT NULL,
  `telefone` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario`
--

LOCK TABLES `usuario` WRITE;
/*!40000 ALTER TABLE `usuario` DISABLE KEYS */;
INSERT INTO `usuario` VALUES ('2026-03-22 08:56:03.188000',1,'leo091945@gmail.com','Leonardo Goulart','+5544991563680'),('2026-03-22 08:56:08.532000',2,'felipe_adra@gmail.com','Felipe Andrade','+5544998342430'),('2026-03-22 08:57:47.789000',3,'jose12aguiar@gmail.com','Jose Aguiar','+5544998235671'),('2026-03-22 08:58:17.552000',4,'math_fer52@gmail.com','Matheus Fernando','+5544997577890'),('2026-03-22 08:59:29.359000',6,'josivaldoperr12@gmail.com','Josivaldo Pereira','+5583981324769'),('2026-03-22 15:24:59.477000',7,'adrezpereira@gmail.com','Andr├® Pereira','+5568985025132');
/*!40000 ALTER TABLE `usuario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'data-source'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-22 15:28:17
